.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gradient-paragraph {
  background-image: linear-gradient(to right, #f4b1a1, #f3c19c, rgba(241, 139, 183, 0.933));
  color: rgb(76, 76, 76); 
  padding: 10px;
  border: 5px solid rgb(212, 104, 104);
  border-radius: 15%;
  margin: 20px;
  padding: 18px;
}
  .gradient-paragraph:hover{
  transform: scale(0.9);
  transition: 2s;
  background-image: linear-gradient(to right, #82b09d, #81b8b8, rgba(198, 147, 197, 0.933));
  border: 5px solid rgb(97, 5, 116);
  border-radius: 20px;
  color: rgb(241, 233, 233); 
}
.navbar {
  background-image: linear-gradient(to right, #82b09d, #81b8b8, rgba(198, 147, 197, 0.933));
  border: 2px solid #9b82b0;
  border-radius: 20px;
}

.navbar-brand {
  font-style: italic;
  font-size: 28px;
  font-weight: bold;
}


.navbar-link {
  text-decoration: none;
  margin-right: 50px;
}

.navbar-link:hover {
  text-decoration: underline;
  font-weight: bold;
  font-style: oblique;
}